<div>
    <h3>
        Name
    </h3>
    <p>
        Albin Wiklund
    </p>
</div>


<div>
    <h3>
        Address
    </h3>
    
    <p>
        fakegatan 144 43, Jönköping
    </p>
</div>

<div>
    <h3>
        E-mail
    </h3>
    
    <p>
        Albin.wiklund11@gmail.com
    </p>
</div>

<div>
    <h3>
        Phone number
    </h3>

    <p>
        +46 75-947 56 04
    </p>
</div>