<p>
    <h3>
        Name
    </h3>
    <span>
        Albin Wiklund
    </span>
</p>


<p>
    <h3>
        Address
    </h3>
    
    <span>
        fakegatan 144 43, Jönköping
    </span>
</p>

<p>
    <h3>
        E-mail
    </h3>
    <span>
        Albin.wiklund11@gmail.com
    </span>
</p>

<p>
    <h3>
        Phone number
    </h3>

    <span>
        +46 75-947 56 04
    </span>
</p>