{{#if session.isLoggedIn}}
    <form action="/projects/feedback/delete" method="post">
        <input type="hidden" name="_csrf" value={{csurfToken}}>
        <input type="hidden" name="feedbackID" value="{{feedbackID}}">
        <h1>Do you really want to delete this feedback from the face of this earth?</h1>
        <button class="btn input-group-btn btn-error mt-2">Delete!</button>
    </form>
{{else}}
    <h1>You are not logged in!</h1>
{{/if}}