{{#if validationErrors.length}}
	<p>Couldn't login because:</p>
	<ul>
		{{#each validationErrors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
<form action="/login" method="post">
    <input type="hidden" name="_csrf" value={{csurfToken}}>
    <div class="form-group">
        <label class="form-label">Name</label>
        <input class="form-input" type="text" placeholder="username" name="username">
    </div>
        
    <div class="form-group">
        <label class="form-label">Password</label>
        <input class="form-input" type="password"placeholder="password" name="password">
    </div>
        <button class="btn input-group-btn btn-primary mt-2">Press this button to login!</button>
</form>